/* Global Roles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 4000px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

:root {
  --main-color: #10cab7;
}

/* Media Query */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Media Query */
/* Global Roles */
/* Start Header */
header {
  padding: 30px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo,
header .icon:hover {
  cursor: pointer;
}

header .links {
  position: relative;
}

header .links .icon {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}

header .links .icon span:first-child {
  width: 100%;
  height: 2px;
}

header .links .icon span:nth-child(2) {
  width: 75%;
  height: 2px;
}

header .links .icon span:last-child {
  width: 100%;
  height: 2px;
}

header .links .icon:hover span:nth-child(2) {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
}

header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

header .links ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .links ul li a:hover {
  padding-left: 25px;
}

header .links ul::before {
  content: "";
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header .links:hover ul {
  display: block;
}

/* End Header */
/* Start Landing section */
.landing-page {
  padding: 20px 0;
  background-image: url("./../images/landing-page.jpg");
  background-size: cover;
  height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing-page .intro-text h1 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0;
  background-color: #3d3c3c;
  border-radius: 5px;
  font-size: 50px;
}

.landing-page .intro-text p {
  line-height: 1.7;
  font-size: 30px;
}

/* End Landing section */
/*# sourceMappingURL=main.css.map */