/* Global Roles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Media Query */
// Small
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
// Medium
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Media Query */
/* Global Roles */
/* Start Header */
header {
  padding: 30px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    position: relative;
    .icon {
      width: 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      span {
        background-color: #333;
        margin-bottom: 5px;
        &:first-child {
          width: 100%;
          height: 2px;
        }
        &:nth-child(2) {
          width: 75%;
          height: 2px;
        }
        &:last-child {
          width: 100%;
          height: 2px;
        }
      }
      &:hover span:nth-child(2) {
        width: 100%;
        transition: all 0.5s;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      position: absolute;
      right: 0;
      min-width: 200px;
      top: calc(100% + 15px);
      display: none;
      li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
      }
      li a {
        text-decoration: none;
        display: block;
        padding: 15px;
        color: #333;
        transition: 0.3s;

        &:hover {
          padding-left: 25px;
        }
      }
      &::before {
        content: "";
        border-width: 10px 10px 10px 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
      }
    }
    &:hover ul {
      display: block;
    }
  }
}
/* End Header */
